In [1]:
from nilmtk import DataSet
from nilmtk.utils import print_dict

## Open HDF5

In [2]:
ds = DataSet("./AMPds2.h5")

In [3]:
print_dict(ds.metadata)

In [4]:
print_dict(ds.buildings)

In [5]:
print_dict(ds.buildings[1].metadata)

In [6]:
bld = ds.buildings[1]
elec = bld.elec

In [7]:
elec

MeterGroup(meters=
  ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[])
  ElecMeter(instance=2, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=1)])
  ElecMeter(instance=3, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=2)])
  ElecMeter(instance=4, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=3)])
  ElecMeter(instance=5, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=6, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=2)])
  ElecMeter(instance=7, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=1)])
  ElecMeter(instance=8, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=3)])
  ElecMeter(instance=9, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=4)])
  ElecMeter(instance=10, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=5)])
  ElecMeter(instance=11, building=1, dataset='AMPds', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=12, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=6)])
  ElecMeter(instance=13, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=7)])
  ElecMeter(instance=14, building=1, dataset='AMPds', appliances=[Appliance(type='heat pump', instance=1)])
  ElecMeter(instance=15, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=8)])
  ElecMeter(instance=16, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=4)])
  ElecMeter(instance=17, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=2)])
  ElecMeter(instance=18, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=9)])
  ElecMeter(instance=19, building=1, dataset='AMPds', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=20, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=3)])
  ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])
)

In [8]:
elec['fridge']

ElecMeter(instance=11, building=1, dataset='AMPds', appliances=[Appliance(type='fridge', instance=1)])

In [9]:
elec['fridge'].available_columns()

[('cumulative energy', 'reactive'),
 ('power factor', 'real'),
 ('cumulative energy', 'apparent'),
 ('power', 'active'),
 ('power', 'reactive'),
 ('power factor', 'apparent'),
 ('power', 'apparent'),
 ('cumulative energy', 'active'),
 ('current', 'apparent'),
 ('frequency', 'apparent'),
 ('voltage', 'apparent')]

In [10]:
elec[1]

ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[])

In [11]:
elec[2].appliances

[Appliance(type='light', instance=1)]

In [12]:
elec.mains()

ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[])

### idea
> ลืม circuit หมดแล้ว

> ต้องโหลดข้อมูล power ?
- active power (kW)
- reactive power (kVAR)
- apparent power (kVA) = kW + kVAR
- power factor = P_active/P_apparent

In [13]:
type(next(elec['fridge'].load()))

pandas.core.frame.DataFrame

In [14]:
fridge_df = next(elec['fridge'].load())

In [15]:
fridge_df

physical_quantity          power          power factor    power
type                      active reactive     apparent apparent
TIMESTAMP
2012-04-01 00:00:00-07:00    0.0      6.0         0.04     10.0
2012-04-01 00:01:00-07:00    0.0      6.0         0.04     10.0
2012-04-01 00:02:00-07:00    0.0      6.0         0.05     10.0
2012-04-01 00:03:00-07:00    0.0      6.0         0.05     10.0
2012-04-01 00:04:00-07:00    0.0      6.0         0.09     10.0
...                          ...      ...          ...      ...
2014-03-31 23:55:00-07:00    0.0      5.0         0.05     10.0
2014-03-31 23:56:00-07:00    0.0      5.0         0.00     10.0
2014-03-31 23:57:00-07:00    0.0      5.0         0.00      9.0
2014-03-31 23:58:00-07:00    0.0      5.0         0.05     10.0
2014-03-31 23:59:00-07:00    0.0      5.0         0.05     10.0

[1051200 rows x 4 columns]

In [16]:
fridge_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1051200 entries, 2012-04-01 00:00:00-07:00 to 2014-03-31 23:59:00-07:00
Data columns (total 4 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   (power, active)           1051200 non-null  float32
 1   (power, reactive)         1051200 non-null  float32
 2   (power factor, apparent)  1051200 non-null  float32
 3   (power, apparent)         1051200 non-null  float32
dtypes: float32(4)
memory usage: 24.1 MB

In [17]:
fridge_df

physical_quantity          power          power factor    power
type                      active reactive     apparent apparent
TIMESTAMP
2012-04-01 00:00:00-07:00    0.0      6.0         0.04     10.0
2012-04-01 00:01:00-07:00    0.0      6.0         0.04     10.0
2012-04-01 00:02:00-07:00    0.0      6.0         0.05     10.0
2012-04-01 00:03:00-07:00    0.0      6.0         0.05     10.0
2012-04-01 00:04:00-07:00    0.0      6.0         0.09     10.0
...                          ...      ...          ...      ...
2014-03-31 23:55:00-07:00    0.0      5.0         0.05     10.0
2014-03-31 23:56:00-07:00    0.0      5.0         0.00     10.0
2014-03-31 23:57:00-07:00    0.0      5.0         0.00      9.0
2014-03-31 23:58:00-07:00    0.0      5.0         0.05     10.0
2014-03-31 23:59:00-07:00    0.0      5.0         0.05     10.0

[1051200 rows x 4 columns]

In [18]:
fridge_df.reset_index()

physical_quantity                 TIMESTAMP  power          power factor  \
type                                        active reactive     apparent
0                 2012-04-01 00:00:00-07:00    0.0      6.0         0.04
1                 2012-04-01 00:01:00-07:00    0.0      6.0         0.04
2                 2012-04-01 00:02:00-07:00    0.0      6.0         0.05
3                 2012-04-01 00:03:00-07:00    0.0      6.0         0.05
4                 2012-04-01 00:04:00-07:00    0.0      6.0         0.09
...                                     ...    ...      ...          ...
1051195           2014-03-31 23:55:00-07:00    0.0      5.0         0.05
1051196           2014-03-31 23:56:00-07:00    0.0      5.0         0.00
1051197           2014-03-31 23:57:00-07:00    0.0      5.0         0.00
1051198           2014-03-31 23:58:00-07:00    0.0      5.0         0.05
1051199           2014-03-31 23:59:00-07:00    0.0      5.0         0.05

physical_quantity    power
type              apparent
0                     10.0
1                     10.0
2                     10.0
3                     10.0
4                     10.0
...                    ...
1051195               10.0
1051196               10.0
1051197                9.0
1051198               10.0
1051199               10.0

[1051200 rows x 5 columns]

In [19]:
fridge_df.columns = ['_'.join(col).strip() for col in fridge_df.columns.values]

In [20]:
fridge_df.reset_index()

,TIMESTAMP,power_active,power_reactive,power factor_apparent,power_apparent
0,2012-04-01 00:00:00-07:00,0.0,6.0,0.04,10.0
1,2012-04-01 00:01:00-07:00,0.0,6.0,0.04,10.0
2,2012-04-01 00:02:00-07:00,0.0,6.0,0.05,10.0
3,2012-04-01 00:03:00-07:00,0.0,6.0,0.05,10.0
4,2012-04-01 00:04:00-07:00,0.0,6.0,0.09,10.0
...,...,...,...,...,...
1051195,2014-03-31 23:55:00-07:00,0.0,5.0,0.05,10.0
1051196,2014-03-31 23:56:00-07:00,0.0,5.0,0.00,10.0
1051197,2014-03-31 23:57:00-07:00,0.0,5.0,0.00,9.0
1051198,2014-03-31 23:58:00-07:00,0.0,5.0,0.05,10.0
1051199,2014-03-31 23:59:00-07:00,0.0,5.0,0.05,10.0

In [21]:
fridge_df

,power_active,power_reactive,power factor_apparent,power_apparent
TIMESTAMP,,,,
2012-04-01 00:00:00-07:00,0.0,6.0,0.04,10.0
2012-04-01 00:01:00-07:00,0.0,6.0,0.04,10.0
2012-04-01 00:02:00-07:00,0.0,6.0,0.05,10.0
2012-04-01 00:03:00-07:00,0.0,6.0,0.05,10.0
2012-04-01 00:04:00-07:00,0.0,6.0,0.09,10.0
...,...,...,...,...
2014-03-31 23:55:00-07:00,0.0,5.0,0.05,10.0
2014-03-31 23:56:00-07:00,0.0,5.0,0.00,10.0
2014-03-31 23:57:00-07:00,0.0,5.0,0.00,9.0
2014-03-31 23:58:00-07:00,0.0,5.0,0.05,10.0
2014-03-31 23:59:00-07:00,0.0,5.0,0.05,10.0

In [22]:
elec[2].appliances

[Appliance(type='light', instance=1)]

In [23]:
elec[2].appliances[0].type

{'parent': 'appliance',
 'min_on_duration': 20,
 'min_off_duration': 20,
 'type': 'light',
 'n_ancestors': 1,
 'description': "We distinguish between the 'luminaire' (light fitting) and the\nelectric lamp(s) within the light fitting.\n\nSee:\n  - https://en.wikipedia.org/wiki/Luminaire \n  - https://en.wikipedia.org/wiki/Lamp_%28electrical_component%29\n\nThe light appliance takes its category from the lamp type fitted.\n",
 'categories': {'electrical': ['lighting']},
 'synonyms': ['luminaire', 'light fitting'],
 'usual_components': ['dimmer', 'lamp'],
 'additional_properties': {'main_room_light': {'type': 'boolean'}},
 'subtypes': ['ceiling pendant',
  'ceiling downlight',
  'desk',
  'wall',
  'table',
  'floor standing',
  'floor level',
  'decorative',
  'night light',
  'signage',
  'outdoor',
  'mood'],
 'control': ['manual', 'timer']}

In [24]:
elec[3].appliances[0]

Appliance(type='light', instance=2)

In [25]:
elec[3].appliances[0].identifier.type

'light'

In [26]:
elec[3].appliances[0].identifier.instance

2

## check row

In [27]:
meters = elec.meters
meters

[ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[]),
 ElecMeter(instance=2, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=1)]),
 ElecMeter(instance=3, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=2)]),
 ElecMeter(instance=4, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=3)]),
 ElecMeter(instance=5, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=1)]),
 ElecMeter(instance=6, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=2)]),
 ElecMeter(instance=7, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=1)]),
 ElecMeter(instance=8, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=3)]),
 ElecMeter(instance=9, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=4)]),
 ElecMeter(instance=10, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=5)]),
 ElecMeter(instance=11, building=1, dataset='AMPds', appliances=[Appliance(type='fridge', instance=1)]),
 ElecMeter(instance=12, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=6)]),
 ElecMeter(instance=13, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=7)]),
 ElecMeter(instance=14, building=1, dataset='AMPds', appliances=[Appliance(type='heat pump', instance=1)]),
 ElecMeter(instance=15, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=8)]),
 ElecMeter(instance=16, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=4)]),
 ElecMeter(instance=17, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=2)]),
 ElecMeter(instance=18, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=9)]),
 ElecMeter(instance=19, building=1, dataset='AMPds', appliances=[Appliance(type='television', instance=1)]),
 ElecMeter(instance=20, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=3)]),
 ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])]

In [28]:
for meter in meters:
    
    # get appliance name/id
    # handle main error
    main_id = 1
    try:
        appliance_name = meter.appliances[0].identifier.type
        appliance_id = meter.appliances[0].identifier.instance
    except:
        appliance_name = "main"
        appliance_id = main_id
        main_id += 1
        
    print(f"{appliance_name} {appliance_id}")
    
    # get data frame
    df = next(meter.load())
    print(len(df))

main 1
1051200
light 1
1051200
light 2
1051200
light 3
1051200
unknown 1
1051200
unknown 2
1051200
sockets 1
1051200
unknown 3
1051200
unknown 4
1051200
unknown 5
1051200
fridge 1
1051200
unknown 6
1051200
unknown 7
1051200
heat pump 1
1051200
unknown 8
1051200
light 4
1051200
sockets 2
1051200
unknown 9
1051200
television 1
1051200
sockets 3
1051200
electric oven 1
1051200

In [29]:
elec.select_top_k(k=21)

21/21 ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])

MeterGroup(meters=
  ElecMeter(instance=8, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=3)])
  ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[])
  ElecMeter(instance=9, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=4)])
  ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])
  ElecMeter(instance=20, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=3)])
  ElecMeter(instance=10, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=5)])
  ElecMeter(instance=11, building=1, dataset='AMPds', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=17, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=2)])
  ElecMeter(instance=19, building=1, dataset='AMPds', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=7, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=1)])
  ElecMeter(instance=13, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=7)])
  ElecMeter(instance=6, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=2)])
  ElecMeter(instance=3, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=2)])
  ElecMeter(instance=15, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=8)])
  ElecMeter(instance=16, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=4)])
  ElecMeter(instance=4, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=3)])
  ElecMeter(instance=5, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=18, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=9)])
  ElecMeter(instance=12, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=6)])
  ElecMeter(instance=2, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=1)])
  ElecMeter(instance=14, building=1, dataset='AMPds', appliances=[Appliance(type='heat pump', instance=1)])
)

In [36]:
elec.select_top_k(k=21)

21/21 ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])

MeterGroup(meters=
  ElecMeter(instance=8, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=3)])
  ElecMeter(instance=1, building=1, dataset='AMPds', site_meter, appliances=[])
  ElecMeter(instance=9, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=4)])
  ElecMeter(instance=21, building=1, dataset='AMPds', appliances=[Appliance(type='electric oven', instance=1)])
  ElecMeter(instance=20, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=3)])
  ElecMeter(instance=10, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=5)])
  ElecMeter(instance=11, building=1, dataset='AMPds', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=17, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=2)])
  ElecMeter(instance=19, building=1, dataset='AMPds', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=7, building=1, dataset='AMPds', appliances=[Appliance(type='sockets', instance=1)])
  ElecMeter(instance=13, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=7)])
  ElecMeter(instance=6, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=2)])
  ElecMeter(instance=3, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=2)])
  ElecMeter(instance=15, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=8)])
  ElecMeter(instance=16, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=4)])
  ElecMeter(instance=4, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=3)])
  ElecMeter(instance=5, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=18, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=9)])
  ElecMeter(instance=12, building=1, dataset='AMPds', appliances=[Appliance(type='unknown', instance=6)])
  ElecMeter(instance=2, building=1, dataset='AMPds', appliances=[Appliance(type='light', instance=1)])
  ElecMeter(instance=14, building=1, dataset='AMPds', appliances=[Appliance(type='heat pump', instance=1)])
)